body{
    background-color: lightgray;
     font-family: 'Times New Roman', Times, serif;
  
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden; /* Isso impede que a página "dance" para os lados */
    width: 100%;
}
   


#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding-left: 20px;
    background-color: bisque;
}
.books{
    width: 300px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    margin: auto;
    
}
.c{
  width:150px;
    height:150px;
}
.java{
    width:150px;
    height:150px;
  
}
h1{
    color:darkgreen ;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
h2{
    color: black;
    font-size: 45px;
    display: flex;
    justify-content: center;
}
nav{ 

    background-color: lightblue;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav a{
    color:     darkred;
    font-size: 15px;
    margin: 20px;
    text-decoration: none;
    justify-content: space-between;
    font-style: bold;
}
header{
    border: 2px solid black;
    background-color: bisque;
    height: 100
    px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
   color:  indigo; 
   margin: 20px;
   padding: 20px;
   font-size: 30px;
    }

#container-principal{

    padding-left: 300px;
    padding-right: 300px;
    margin: 10px auto;
    width: fit-content;
};


.youtube{
    width: 400px;
    height: 400px;
}
.maps{
    width: 400px;
    height: 400px;
    

}



h1, h2, h3, p {
    margin-top: 5px;    
    margin-bottom: 5px; 
    text-align: center;
}

#final{
     justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    margin: 100px auto;
    width: fit-content;
    
}


.html
{
    width: 150px;
    height: 150px;
}

table {
    border: 1px solid red   ;       
    border-collapse: collapse;
    outline: 2px dashed red;      
    outline-offset: 5px;           
    margin: 30px auto;             
}

table td, table th {
    border: 1px solid red   ;
    padding: 8px 15px;
    text-align: center;

}

 body {
    margin: 0;
}

footer {

 
    display: flex !important;
    flex-direction: row !important; 
    justify-content: space-around !important; 
    align-items: center !important;
    
    width: 100% !important;        
    min-width: 100% !important;   
    
    background-color: bisque !important; 
    padding: 20px !important;
    box-sizing: border-box !important;
    margin: 0 !important; 

    left: 0;
}
footer p {
    font-size: 50px;
    color: black  ;  
}

footer img{
    width: 150px;
    height: 150px;
}
.amarelinho{
   background-color: #ffeb3b;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 600px; 
    width: 90%;
    margin: 40px auto; 
    text-align: left;
}
.amarelinho li{
    list-style-position: inside;
    padding: 0px;
}

.amarelinho ul{
    margin-bottom: 10px;

}
.amarelinho a{
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
}