body{
    background-color: black;
    margin: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    
}
header{
  font-size: 45px;
  justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}


.tabela-custom {
  width: 100%;
  border-collapse: collapse;
}

.tabela-custom th, .tabela-custom td {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
  color: #fffcfc;
}
a{
    color: whitesmoke
}

.tabela-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
}

.btn-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #222; 
  padding: 8px 16px;
  border-radius: 5px;
  display: inline-block;

}

.btn-link:hover {
  background-color: #e2abd4; 
  transform: scale(1.05);
}
nav{
   height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px; 
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    display: flex;          
    list-style: none;       
    margin: 0;
    padding: 0;
    gap: 30px;              
}


nav ul li a {
    text-decoration: none;
    color: white;           
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}