body{
    color: whitesmoke;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content:space-between ;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: whitesmoke;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid pink;
}

.center{
    text-align: center;
}

h1{
    color: rgb(238, 137, 154);
}
h2{
    color: whitesmoke;
}

footer img{
    width: 40px;
    height: 40px;
}   

footer {
    display: flex;
    justify-content: center;

}
footer a{
    margin: 20px;
    text-align: center;
}footer p{
    margin: 2px;
}

.margem {
    padding: 0px 50px;
}